.JSLiteCalenbar
    display:inline-block
    background: #E0E0E0
    border-radius:5px
    overflow:hidden
    padding:0px 2px 4px 2px
    -moz-user-select: none
    -webkit-user-select: none
    -ms-user-select: none
    
.JSLiteCalenbar:focus
    outline:none
    
.JSLiteCalenbar .lbtn,.JSLiteCalenbar .rbtn
    cursor: pointer
    padding:0 5px 0 5px
    
.JSLiteCalenbar .barBtnTop
    height: 27px
    
.JSLiteCalenbar .barBtnTop .lbtn
    margin-right:2px
    
.JSLiteCalenbar .barBtnTop div
    background: #FAFAFA
    float:left
    border-radius:5px
    margin:4px 0 0 2px
    height: 23px
    line-height: 23px
    padding: 0 5px 0 5px
    color:#949494
    
.JSLiteCalenbar .barBtnTop div:hover
    background:#fff
    
.JSLiteCalenbar .barBtnTop div:active
    background:#BABABA
    color:#fff
    
.JSLiteCalenbar .skin .barBtn
    height: 36px
    margin: 0 0 -36px 0
    
.JSLiteCalenbar .skin .barBtn div
    background:#EDEDED
    height:30px
    width:30px
    line-height: 30px
    color: #767676
    
.JSLiteCalenbar .skin .barBtn .lbtn
    float:left
    
.JSLiteCalenbar .skin .barBtn .rbtn
    float:right
    
.JSLiteCalenbar .skin .barBtn .lbtn:hover
    background:#fff
    
.JSLiteCalenbar .skin .barBtn .rbtn:hover
    background:#fff
    
.JSLiteCalenbar .tit 
    font-size:16px
    padding:7px 0
    margin:0
    color:#525252
    line-height: 16px
    
.JSLiteCalenbar .day span,.JSLiteCalenbar .week span
    display:inline-block
    width:14.2875%
    
.JSLiteCalenbar .week 
    background:#C9C9C9
    height:26px
    line-height:26px
    color:#757575
    
.JSLiteCalenbar .week span.no
    background:#D6D6D6
    
.JSLiteCalenbar .day span
    height:36px
    line-height:36px
    text-align:center
    vertical-align: middle
    cursor: pointer
    box-shadow: inset -1px -1px 0px #E0E0E0
    
.JSLiteCalenbar .day span:hover
    background:#fff
    color:#AEAEAE
    
.JSLiteCalenbar .day span:active
    background:#E4E4E4
    
.JSLiteCalenbar .day span.emt
    background:#F0F0F0
    color: #D3D3D3
    cursor:auto
    
.JSLiteCalenbar .day span.w:before,.JSLiteCalenbar .day span.n:after
    content: ""
    display: block
    
.JSLiteCalenbar .day span.w:before
    border-bottom: 2px solid red
    margin: 28px auto 0 10px
    width: 15px
    position: absolute
    
.JSLiteCalenbar .day span.n:after
    width: 22px
    background: #D8D8D8
    height: 21px
    margin: -30px 0 0 7px
    border-radius: 21px
    
.JSLiteCalenbar .day span.n
    color:#3C8801
    font-weight:bold
    
.JSLiteCalenbar .day span.w
    color:red
    
.JSLiteCalenbar .day 
    text-align:left
    
.JSLiteCalenbar .skin 
    float:left
    width:222px
    margin:4px 2px 0 2px
    background: #FAFAFA
    font-size:14px
    text-align:center
    border-radius:5px
    overflow:hidden
    
.JSLiteCalenbar .cl 
    clear:both
    
.JSLiteCalenbar .time 
    font-size: 12px
    clear: both
    padding: 3px 0 0 3px
    
.JSLiteCalenbar .time span
    background: #C6C6C6
    border-radius: 3px
    display: inline-block
    padding: 2px 4px
    line-height: 12px
    font-size: 12px
    cursor: pointer
    
.JSLiteCalenbar .item 
    text-align: left
    position: absolute
    background: #FCFCFC
    border-radius: 5px
    
.JSLiteCalenbar .item span
    display: inline-block
    width:12.5%
    text-align: center
    box-shadow: inset -1px -1px 0px #E0E0E0
    height: 29px
    line-height: 29px
    cursor: pointer
    
.JSLiteCalenbar .item span:hover
    background: #E0E0E0
    
